@font-face {
    font-family: pixelFont;
    src: url('../font/PressStart2P-Regular.ttf');
}
/* ------------- 背景 ------------- */
#background {
    width: 100%;
    height: 100vh;
    background: url('../img/game-background-01.jpg') no-repeat center center /cover;
    position: relative;
    display: flex;
    overflow: hidden;
}

#player-box{
    width: 200px;
    height: 40px;
    position: relative;
    left: 20px;
    top: 450px;
}
#player{
    width: 100%;
}

.laser{
    width: 40px;
    height: 40px;
    position: relative;
}

.monster{
    width: 120px;
    height: 120px;
    position: absolute;
}

.dead-monster{
    width: 120px;
    height: 120px;
    position: absolute;
    opacity: 0;
}

#score{
    font-size: 2.8rem;
    font-family: pixelFont, Arial, Helvetica, sans-serif;
    color: yellow;
    position: absolute;
    top: 5%;
    right: 5%;
}

#score span{
    color: yellow;
}