/* ------------- 背景 ------------- */
.background {
    width: 100%;
    height: 100vh;
    background: url('../img/game-background-01.jpg') no-repeat center center /cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* ------------- 標題 ------------- */
.title {
    width: 50%;
    margin-bottom: 50px;
}

/* ------------- 玩家 ------------- */
.players {
    position: relative;
}
.one,.two {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.title img,.player img {
    width: 100%;
}

/* ------------- 選擇玩家箭頭 ------------- */
.arrow {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 6%;
}
.arrow img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}

/* ------------- 火箭 ------------- */
.rocket{
    width: 15%;
    position: absolute;
    left: 0;
    display: none;
}
.rocket img{
    width: 100%;
}